body {
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    margin: 0;
    background-color: #f9fafc;
    font-family: 'Open Sans', sans-serif;
}
a{ 
    text-decoration: none;
}
a:visited {
    color: #69696a;
    text-decoration: none;
}
button {
    
    height: 35px;
    width: 100%;
    border-radius: 20px;
    border-style: none;
    background-color: #000;
    color: #FFF;
}


/* Header */
header {
    padding-left: 10px ;
}
.wac {
    color: #69696a;
}
.title{
    color: #000;
    
}
header p {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Body */
section {
    padding-left: 10px;
}
h1 {
    color: #000;
    padding-top: 10px;
    font-size: xx-large;
}

.lorem {
    color: #69696a;
    padding-left: 15px;
    
    border-left: solid #69696a 3px;
}


/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding-left: 15px;
    padding-right: 15px;
    height: 35px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(247, 193, 162, 0.7) ;
}
footer p {
    color: #000;
    position: relative;
    bottom: 25%;
}
.footlink {
    position: relative;
    right: 30px;
    top: 6px;
}

footer a {
    padding-left: 10px;
}


@media screen and (min-width: 768px) {
    header {
        height: 35px;
        display: flex;
        justify-content: space-between;
    }
    .nav {
        display: flex;
        position: relative;
    }
    .nav a {
        padding-left: 10px;
    }
    header button {
        position: relative;
        width: 70px;
        margin-left: 10px;
        top: 5px;   
    }
    section {
        position: relative;
        top: 120px;
        width: 50%;
    }

    
    .dot {
        border-radius: 50%;
        float: right;
        position: absolute;
      }
    .dot1 {
        background-color: rgba(247, 136, 167, 0.6);
        height: 180px;
        width: 180px;
        position: relative;
        right: 70px;
        bottom: 100px;
      }
    .dot2 {
        background-color: rgba(247, 193, 162, 0.7);
        height: 130px;
        width: 130px;
        position: relative;
        left: 160px;
        top: 10px;
      }
    .dot3 {
        background-color: rgba(207, 130, 213, 0.6);
        height: 90px;
        width: 90px;
        position: relative;
        left: 290px;
        bottom: 60px;
      }
}