#ad{
    padding-left: 20px;
    padding-right: 20px;
    border: solid 3px #222;
    box-shadow: 3px 3px 3px rgb(124, 124, 124);


}
.flav{
    font-family: 'Caveat', cursive;
    margin-bottom: 25px;

}
/*     border: solid 3px black;
 */